html, body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    font-family: 'Inter', sans-serif;
    color: white;
    width: 550px;
}

/* Header styling */
header {
    height: 210px;
    overflow: hidden;
}

.header-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 550px;
    height: 210px;
    object-fit: cover;
    object-position: center 25%;
    opacity: 0.3;
}

.header-content {
    position: relative;
    display: flex;
    height: 210px;
    align-items: center;
    justify-content: space-between;
}

.header-content h1 {
    font-size: 43px;
    font-weight: 800;
    margin: 0 0 0 42px;
}

.watchlist-link {
    font-size: 14px;
    font-weight: 700;
    color: inherit;
    text-decoration: none;
    margin: 0 45px 0 0;
}

/* Search box styling */
.search-form{
    display: flex;
    position: absolute;
    top: 189px;
    left: 44px;
    right: 164px;
    height:40px;
}

.search-icon {
    position: absolute;
    left: 10px;
    top: 10px;
}

.search-input{
    color: grey;
    width: 342px;
    padding-left: 40px;
    font-size: 14px;
}

.search-btn{
    font-size: 14px;
    font-weight: 500;
    color: inherit;
    background-color: #4b4b4b;
    border-radius: 0 6px 6px 0;
    padding: 9px 11px 9px 17px;
    width: 120px;
    border: none;
}

/* Empty Movie list styling */

.film-icon {
    margin-top: 230px;
}

.default-text {
    font-size: 18px;
    font-weight: 700;
    color: #787878;
    margin-top: 8px;
}

/* Movie list spacing and alignment */
.movie-list{
    width: 500px;
    padding: 60px 44px 0 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie, .movie-info-header, .movie-info-secondary, .add-watchlist {
    display: flex;
}

.movie-info-header, .movie-info-secondary, .add-watchlist {
    align-items: center;
}

.movie {
    width: inherit;
    padding: 20px 0;
    border-bottom: 1px solid #2C2C2C;
    gap: 20px;
}

.poster {
    width: 100px;
    height: 150px;
}

.movie-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.movie-info h2, .movie-info p {
    margin: 0;
    margin-right: 10px;
}

.movie-info-secondary{
    gap: 18px;
}

.icon {
    width: 15px;
    height: 15px;
    margin-right: 4px;
}

/* font styling */
.movie-info h2 {
    font-size: 20px;
    font-weight: 500;
}

.movie-info-header p, .movie-info-secondary p {
    font-size: 12px;
}

.description {
    font-size: 14px;
    color: #A5A5A5;
}